
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {

    background-color: #ebf5f5;
    padding: 10px;


}

.principal {

    width: 100%;
    height: 850px;

}

.treinamento {

    color: #015958;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: 120px;
    border-radius: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.pro {

    margin-top: 25px;
    margin-right: 15px;
    width: 65px;
    height: 65px;

}

.pro1 {

    margin-top: 20px;

}

.pro2 {

    margin-top: 20px;

}

.pro3 {

    margin-top: 30px;

}

.aproveite {

    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.cards {

    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;

}


.accordion {

    padding: 1px;
    margin: auto;
    width: 68%;

}

.destino {

    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.lugar {

    width: 30%;

}

h2 {

    margin-top: 20px;
    margin-bottom: 20px;

}


.aaa h2 {

    text-align: center;
    padding: 20px;

}

.form-group {

    padding: 20px;
    margin: auto;
    width: 68%;

}

.form-check {

    padding: 2px;
    margin: auto;
    width: 68%;

}

.botao {

    padding: 5px;
    margin: auto;
    width: 68%;

}

.car {

    padding: 20px;
    margin: auto;
    width: 55vh;

}

.novidades {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    text-align: center;

}

.titulo {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #015958;

}

.sub {

    display: flex;
    margin-top: 50px;
    width: 500px;
    height: 80px;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.sub:hover {

    transition: 0.5s;
    background-color: #015958;
    color: white;

}

.textos {

    font-size: 25px;
    width: 45%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.form {

    display: flex;
    justify-content: center;
    align-items: center;

}

.formularioContato { 
    
    max-width:600px; 
    margin-top: 50px; 
    padding:1em; 
    margin-bottom:1em; 
    border-radius:6px; 
    background:#ffffff; 
    box-shadow: 1px 0px 1.2px 0px #ccc; 
    position:relative; 

}
.formularioContato:before { 

    width:0; 
    height:0; 
    border:15px solid transparent; 
    border-bottom-color:#fff; 
    content:""; 
    position:absolute; 
    left:6%; 
    top:-4.5%; 
    margin-top:-4px; 
    margin-left:6px; 
    z-index:2;
}
.formularioContato label  { 

    float:left; 
    width:100%; 
    margin-bottom:1.2em; 

}
.formularioContato label span {

    width: 100%;
    float: left;
    color: #999;
    margin-bottom: 6px;
    font-family:'open_sansregular'; 

}

.formularioContato label input  { 

    font-size:1em; 
    color:#555; 
    font-family:'open_sansregular'; 
    outline:none; 
    border:1px #dee5ed solid; 
    border-radius:4px; 
    padding:0.6em; 
    transition: 0.3s;  

}
.formularioContato label select { 

    font-size:1em; 
    color:#555; 
    border:1px #dee5ed solid; 
    border-radius:4px; 
    padding:0.6em; 
    outline:none; 
    transition: 0.3s;  

}
.formularioContato label textarea { 

    font-size:1em; 
    color:#555; 
    border:1px #dee5ed solid; 
    border-radius:4px; 
    padding:0.6em; 
    outline:none;
    transition: 0.3s;   

}

.formularioContato label input:focus    { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px rgb(37,174,230) solid; color:rgb(37,174,230);}
.formularioContato label select:focus   { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px rgb(37,174,230) solid; }
.formularioContato label textarea:focus { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px rgb(37,174,230) solid; color:rgb(37,174,230);}
.formularioContato button.btn-envia { 

    background-color:rgb(37,174,230); 
    width:100%; display:block; 
    margin:auto; cursor:pointer; 
    border-radius:4px;  
    border:0; 
    padding:0.8em 0em; 
    color:#fff; 
    font-size:1.3em; 
    font-family:'open_sansbold'; 
    text-align: center;
    transition: 0.3s;

}

.formularioContato button.btn-envia:hover { 

    background-color:#333; 
    
}

@media screen and (max-width: 884px) {

    .principal {

        height: 100%;

    }

    .treinamento {

        flex-direction: column;
        width: 70%;
        height: 200px;
        background-color: #ebf5f5;
        box-shadow: none;

    }

    .pro {

        margin:  auto;
        width: 100px;
        height: 100px;
        

    }

    .textos {

        flex-direction: column;
        font-size: 20px;
        width: 85%;

    }

    .sub {

        width: 70%;
        text-align: center;

    }

    .cards {
      flex-direction: column;
      align-items: center;
    }

  }